DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=aeroc
DATABASE_USER=postgres
DATABASE_PASSWORD=changeme

API_TITLE=AeroC API
API_VERSION=2.0.0
SCHEDULER_ENABLED=true
COLLECTION_INTERVAL_MINUTES=60
